<div class="row">
  <div class="span6 offset3">
    <form class="form-inline" action='/process_user' method="post">
      
      <input type="text" class="input-small" placeholder="Your name" name="username">
      <input type="text" class="input-small" placeholder="Difficulty: 1,2,3,4" name="difficulty">
      
      <button type="submit" class="btn btn-primary">Start Game</button>
    </form>
  </div>
</div>