ul.card-background {
  background-color: #ddd;
  padding: 15px;
  border-radius: 10px;
}

ul.card-background img {
  margin-top: 5px;
  margin-right: 5px ;
  border: solid 2px #a8a8a8;
}

p {
  color: #888;
}

.row p {
  margin-left: 20px;
}


form#hit_form, form#stay_form, form#new_round_form,
form#end_game_form {
  float: left;
  margin-right: 5px;
}